.vscode
Dataset
models
exported-models
pre-trained-model
object-tflite/doc
object-tflite/SSD-TFLITE/detect.tflite
object-tflite/SSD-TFLITE/model.tflite
object-tflite/util_scripts/
object-tflite/get_pi_requirements.sh
object-tflite/LICENSE
object-tflite/README.md
object-tflite/test.mp4
object-tflite/test1.jpg
tflite-exported-models
ssd_mobilenet_model_quant_f16.tflite
data/ 
ei-new_helmet_4-arduino-1.0.4.zip